<!-- Custom CSS -->
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: #fff;
    background-color: #804000;
    clear: left;
    text-align: center;
}

body {
    padding: 50px;
    width:100%;
    height: 100%;
    font-family: "Raleway";
    color: #7b7272;
    background: #262626;
}

nav {
    float: left;
    max-width: 420px;
    margin: 0;
    padding: 8em;
    font-family: "Raleway";
    color: #7b7272;
  }

nav ul {
  float: left;
  margin: 0;
  padding: 0em;
  font-family: "Raleway";
  color: #7b7272;
  }

nav ul a {
    text-decoration: none;
    float: left;
    font-family: "Raleway";
    font-size:21px;
    color: #7b7272;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
